<!--<app-alert></app-alert>-->
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="d-flex justify-content-between card-header">
            <h3 class="card-title">Khairul Anam</h3>
            <small>2 hours ago</small>
          </div>
          <div class="card-body chat-container"  (scroll)="onChatScroll($event)">
            <div class="message-group incoming">
              <div class="message">
                <p>Hey, how's it going?</p>
                <span class="time">9:30 AM</span>
              </div>
            </div>
            <div class="message-group incoming">
                <div class="message">
                  <p>Hey, how's it going?</p>
                  <span class="time">9:30 AM</span>
                </div>
              </div>
              <div class="message-group incoming">
                <div class="message">
                  <p>Hey, how's it going?</p>
                  <span class="time">9:30 AM</span>
                </div>
              </div>
            <div class="message-group outgoing">
              <div class="message">
                <p>Hi! I'm doing great. How about you?</p>
                <span class="time">9:32 AM</span>
              </div>
            </div>
            <div class="message-group incoming">
              <div class="message">
                <p>That's good to hear!</p>
                <span class="time">9:35 AM</span>
              </div>
            </div>
            <div class="message-group incoming">
                <div class="message">
                  <p>That's good to hear!</p>
                  <span class="time">9:35 AM</span>
                </div>
              </div>
              <div class="message-group incoming">
                <div class="message">
                  <p>That's good to hear!</p>
                  <span class="time">9:35 AM</span>
                </div>
              </div>
              <div class="message-group incoming">
                <div class="message">
                  <p>That's good to hear!</p>
                  <span class="time">9:35 AM</span>
                </div>
              </div>
              <div class="message-group incoming">
                <div class="message">
                  <p>That's good to hear!</p>
                  <span class="time">9:35 AM</span>
                </div>
              </div>
            <!-- Add more messages here -->
          </div>
          <div class="card-footer">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Type your message...">
              <div class="input-group-append">
                <button class="btn btn-primary btn-send">
                  <i class="fa fa-paper-plane" aria-hidden="true"></i> Send
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>