<div class="container w-50">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">List group item heading</h3>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Some placeholder content in a paragraph.</p>
          <!-- <small>And some small print.</small> -->
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">List group item heading</h3>
            <small class="text-body-secondary">3 days ago</small>
          </div>
          <p class="mb-1">Some placeholder content in a paragraph.</p>
          <!-- <small class="text-body-secondary">And some muted small print.</small> -->
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">List group item heading</h3>
            <small class="text-body-secondary">3 days ago</small>
          </div>
          <p class="mb-1">Some placeholder content in a paragraph.</p>
          <!-- <small class="text-body-secondary">And some muted small print.</small> -->
        </a>
      </div>
</div>
