<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card-body chat-list-container" (scroll)="onChatListScroll($event)">
        <div *ngFor="let chat of chatList" class="list-group">
          <button (click)="onClickChat(chat)" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h3 class="mb-1">{{chat.chatName}}
                <span *ngIf="chat.isReceiver && chat.occurrance !== 0" class="badge rounded-pill bg-danger">
                  {{chat.occurrance}}
                </span>
              </h3>
              <small class="mb-1">{{chat.durationDisplayTime}}</small>
            </div>
            <p class="mb-1">{{chat.latestMessage}}</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>