<div class="container w-50">
    <div *ngFor="let chat of chatList" class="list-group">
        <a (click)="onClickChat(chat)" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">{{chat.chatName}}</h3>
            <small>{{chat.durationDisplayTime}}</small>
            <small>{{chat.occurrance}}</small>
          </div>
          <p class="mb-1">{{chat.latestMessage}}</p>
          <!-- <small>And some small print.</small> -->
        </a>
        <!-- <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">List group item heading</h3>
            <small class="text-body-secondary">3 days ago</small>
          </div>
          <p class="mb-1">Some placeholder content in a paragraph.</p>
          
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">List group item heading</h3>
            <small class="text-body-secondary">3 days ago</small>
          </div>
          <p class="mb-1">Some placeholder content in a paragraph.</p>
          
        </a> -->
      </div>
</div>
